@import url('https://fonts.googleapis.com/css?family=Inconsolata|Indie+Flower|Quicksand');

body {
    margin: 0;
    padding: 0;

    background-color: #f4f4f4;
    color: #DDDDDD;
    font-size: 20px;

    background-image: url('/images/wallpaper.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    text-decoration: underline;
}
