header {
    font-family: 'Quicksand', sans-serif;

    display: flex;
    justify-content: space-between;
    align-items: self-start;

    background-color: rgba(0, 0, 0, 0.67);
}

header .logo {
    padding: 10px;
}

header ul.sticky-tags {
    display: flex;

    margin: 0;
    padding-left: inherit;

    opacity: 0.8;
}

header ul.sticky-tags li {
    margin-right: 5px;

    padding: 5px 5px 5px 5px;
    list-style: none;

    text-align: left;
    color: #222222;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
}

header ul.sticky-tags li:nth-child(1) {
    background-color: #f8a30d;
}
header ul.sticky-tags li:nth-child(2) {
    background-color: #2ff80a;
}
header ul.sticky-tags li:nth-child(3) {
    background-color: #0c6ff8;
}
header ul.sticky-tags li:nth-child(4) {
    background-color: #f8a30d;
}
header ul.sticky-tags li:nth-child(5) {
    background-color: #f84238;
}