.content {
    font-family: 'Quicksand', sans-serif;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3 {
    margin: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.title {
    text-align: left;
}