{% extends 'layout/main.html.twig' %}

{% block links %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block content %}
    <div class="title">
        <h1>Hello!</h1>
        <h2>My name is Ihor Melnychuk,</h2>
        <h3>And I`m PHP backend developer.</h3>
        <hr>
    </div>
{% endblock %}