{% extends 'layout/main.html.twig' %}

{% block links %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block content %}
    <div class="title">
        <h1>Hello!</h1>
        <h2>My name is Ihor Melnychuk</h2>
        <h3>And I`m PHP backend developer.</h3>
        <hr>

        My experience - it`s 2 years learning in frameworks, databases and other technologies used for web development.
        Any project - it`s a new challenge for me, my knowledges and for instrument i going to use.
        <br/>

        I using
        <a href="https://laravel.com/" class="link">Laravel</a>,
        <a href="https://symfony.com/" class="link">Symfony</a> and
        <a href="https://github.com/yiisoft/yii2" class="link">Yii2</a> at the moment. But most liked is Laravel and Symfony.

    </div>
{% endblock %}