<header>
    <div class="header">
        Egretos.in.ua
    </div>
    <ul class="sticky-tags">
        <li>Home</li>
        <li>Contact me</li>
        <li>Projects</li>
        <li>My Blog</li>
        <li>News</li>
    </ul>
</header>