<header>
    <div class="logo">
        <a href="{{ url('index') }}">Egretos.in.ua</a>
    </div>
    <ul class="sticky-tags">
        <li>Home</li>
        <li>Contact me</li>
        <li>Projects</li>
        <li>My Blog</li>
        <li>News</li>
    </ul>
</header>